# {{ ansible_managed }}
# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: ${ES_CLUSTER_NAME:{{ elasticsearch_cluster_name }}}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: ${ES_NODE_NAME:{{ elasticsearch_node_name }}}
node.master: ${ES_NODE_MASTER:true}
node.data: ${ES_NODE_DATA:true}
node.ingest: ${ES_NODE_INGEST:true}
#node.max_local_storage_nodes: 1
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: ${ES_PATH_DATA:{{ elasticsearch_data_dir }}}
#
# Path to log files:
#
path.logs: ${ES_PATH_LOGS:{{ elasticsearch_log_dir }}}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
#bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host: {{ elasticsearch_network_host }}
#
# Set a custom port for HTTP:
#
http.port: {{ elasticsearch_http_port }}
transport.tcp.port: {{ elasticsearch_tcp_port }}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
# discovery.zen.ping.unicast.hosts: ${ES_DISCOVERY_ZEN_PING_UNICAST_HOSTS:["127.0.0.1"]}
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#
#discovery.zen.minimum_master_nodes:
#
# For more information, consult the zen discovery module documentation.
#
{% if elasticsearch_single_node is defined and elasticsearch_single_node %}
discovery.type: single-node
{% else %}
discovery.zen.minimum_master_nodes: ${ES_DISCOVERY_ZEN_MINIMUM_MASTER_NODES:2}
discovery.zen.ping_timeout: ${ES_DISCOVERY_ZEN_PING_TIMEOUT:5s}
discovery.seed_hosts: ${ES_DISCOVERY_SEED_HOSTS:[]}
cluster.initial_master_nodes: ${ES_CLUSTER_INITIAL_MASTER_NODES:[]}
{% endif %}
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true

# ---------------------------------- Trace  -----------------------------------
#logger.org.elasticsearch.cluster.coordination.ClusterBootstrapService: TRACE
#logger.org.elasticsearch.discovery: TRACE
{{ elasticsearch_extra_options }}

