[elasticsearch-{{ elasticsearch_version }}]
name=Elasticsearch repository for {{ elasticsearch_version }} packages
apt_baseurl=https://artifacts.elastic.co/packages/{{ elasticsearch_version }}/apt
yum_baseurl=https://artifacts.elastic.co/packages/{{ elasticsearch_version }}/yum
baseurl={{ apt_baseurl }}
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
